<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pemdestanggung.layananmandiridesatanggung">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <queries>
        <package android:name="com.telkom.tracencare" />
        <package android:name="com.whatsapp" />
        <package android:name="com.android.vending" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/layanan_mandiri"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LayananMandiriDesaTanggung">
        <activity
            android:parentActivityName=".ui.home.HomeActivity"
            android:name=".ui.ArticleReaderActivity"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyArWFOuTNEUr6mX7jNcwWG75RLh6CzHwUM" />

        <activity
            android:name=".utils.MapsPreviewActivity"
            android:exported="true"
            android:label="@string/title_activity_maps_preview"></activity>
        <activity
            android:name=".ui.SliderActivity"
            android:exported="true"
            android:theme="@style/Theme.LayananMandiriDesaTanggung.NoActionBar.Start" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.LayananMandiriDesaTanggung.NoActionBar.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.WebViewActivity"
            android:exported="true"
            android:theme="@style/Theme.LayananMandiriDesaTanggung.NoActionBar" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.LayananMandiriDesaTanggung.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>